<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>827455012183-itdn9vejto3pm6j7t6u5r1fc6ru3enep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.827455012183-itdn9vejto3pm6j7t6u5r1fc6ru3enep</string>
	<key>API_KEY</key>
	<string>AIzaSyDg-HSLm7mywgEW7SOW_6Qx-9Qv-pPLQus</string>
	<key>GCM_SENDER_ID</key>
	<string>827455012183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.giacomuzzi.Gengo2</string>
	<key>PROJECT_ID</key>
	<string>gengo2-94954</string>
	<key>STORAGE_BUCKET</key>
	<string>gengo2-94954.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827455012183:ios:8347035bdc4ec264</string>
	<key>DATABASE_URL</key>
	<string>https://gengo2-94954.firebaseio.com</string>
</dict>
</plist>